.intro_page_wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .page_content {
    width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    h1 {
      display: inline;
      line-height: 1;
      font-weight: 700;
      font-size: 3.6rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}
